<%# 会員登録・サインアップ画面 %>

<%# カスタムファイルの読み込み %>
<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="w-full">
  <div class="flex min-h-screen flex-col items-center pt-24 sm:justify-center sm:pt-0">
    <div class="w-full overflow-hidden bg-white p-8 shadow-sm sm:max-w-md sm:rounded-lg shadow-lg">
      <div class="flex items-center justify-center">
        <a href="#">
          <div class="flex h-40 w-96 items-center justify-center overflow-hidden rounded-md">
            <img src="<%= asset_path('flower3.jpg') %>" alt="Flower" class="object-cover h-full w-full">
          </div>
        </a>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mt-4">
          <label class="block text-md font-medium text-neutral-600" for="name"> Name </label>
          <%= f.text_field :name, placeholder: "Enter your display name", required: true, autofocus: true, class: "inline-block w-full py-2 pl-2 rounded-md text-gray-800 bg-gray-50 border-transparent hover:border-gray-300 focus:border-gray-300 focus:ring-0 text-sm mt-1 block placeholder-opacity-75" %>
        </div>

        <div class="mt-4">
          <label class="block text-md font-medium text-neutral-600" for="email"> Email </label>
          <%= f.email_field :email, placeholder: "Enter your email", required: true, autofocus: true, class: "inline-block w-full py-2 pl-2 rounded-md text-gray-800 bg-gray-50 border-transparent hover:border-gray-300 focus:border-gray-300 focus:ring-0 text-sm mt-1 block placeholder-opacity-75" %>
        </div>

        <div class="mt-4">
          <label class="block text-md font-medium text-neutral-600" for="password"> Password </label>
          <%= f.password_field :password, placeholder: "Enter your password", required: true, autofocus: true, class: "inline-block w-full py-2 pl-2 rounded-md text-gray-800 bg-gray-50 border-transparent hover:border-gray-300 focus:border-gray-300 focus:ring-0 text-sm mt-1 block placeholder-opacity-75" %>
        </div>

        <div class="mt-4">
          <label class="block text-md font-medium text-neutral-600" for="password_confirmation"> Confirm Password </label>
          <%= f.password_field :password_confirmation, placeholder: "Enter repeat your password", required: true, autofocus: true, class: "inline-block w-full py-2 pl-2 rounded-md text-gray-800 bg-gray-50 border-transparent hover:border-gray-300 focus:border-gray-300 focus:ring-0 text-sm mt-1 block placeholder-opacity-75" %>
        </div>

        <div class="mt-4 flex items-center justify-end">
          <a class="text-sm text-gray-500 hover:text-neutral-600 focus:text-yellow-600" href="<%= new_session_path(resource_name) %>"> アカウントをお持ちの方 </a>
          <%= f.submit "登録する", class: "ml-4 inline-flex items-center rounded-lg bg-gray-200 p-2 text-sm  text-white btn-custom w-1/4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>