<!-- app/views/comments/_comment.html.erb -->
<div class="relative bg-white border-t border-b">
  <div class="flex flex-col gap-3 py-2">
    <!-- ユーザーアイコンと名前の表示 -->
    <div class="flex items-center">
      <%= link_to user_path(comment.user), class: "inline-block" do %>
        <img class="h-10 w-10 rounded-full mr-4" src="<%= comment.user.avatar.url %>" alt="<%= comment.user.name %>'s avatar">
      <% end %>
      <%= link_to comment.user.name, user_path(comment.user), class: "tracking-widest text-sm font-bold inline-block" %>
    </div>
    
    <!-- 日付とアイコン -->
    <div class="flex items-center justify-between">
      <span class="block text-sm text-gray-500">
        <%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %>
      </span>
      <% if user_signed_in? && current_user == comment.user %>
        <div class="flex items-center space-x-4">
          <!-- 編集アイコン -->
          <%= link_to edit_post_comment_path(comment.post, comment), class: "text-gray-500 hover:text-gray-700" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          
          <!-- 削除アイコン -->
          <%= link_to post_comment_path(comment.post, comment), data: { turbo_method: :delete, confirm: '本当に削除しますか？' }, class: "text-gray-500 hover:text-gray-700" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <!-- コメント本文 -->
    <p class="text-gray-600"><%= comment.body %></p>
  </div>
</div>
