<div class="mt-20 px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-5 row-gap-8 lg:grid-cols-2 lg:gap-10">
    <!-- 左側のコンテンツ -->
    <div class="flex flex-col justify-start">
      <div class="shadow-md rounded-md back-color-custom max-w-xl mb-6">
        <!-- ユーザーのプロフィール -->
        <div class="flex items-center mb-6 ml-3 mt-3">
          <%= link_to user_path(@post.user), class: "inline-block" do %>
            <% if @post.user.avatar.present? %>
              <%= image_tag @post.user.avatar.url, class: "h-12 w-12 rounded-full mr-4", alt: "#{@post.user.name}'s avatar" %>
            <% else %>
              <%= image_tag 'post_default1.png', class: "h-12 w-12 rounded-full mr-4", alt: "Default avatar" %>
            <% end %>
          <% end %>
          <%= link_to @post.user.name, user_path(@post.user), class: "text-lg font-bold tracking-widest" %>
        </div>
        <!-- 施術名 -->
        <h3 class="m-3 max-w-lg mb-6 text-lg font-bold tracking-tight text-gray-900 sm:text-xl sm:leading-none">施術名　<%= @post.title %></h3>

        <div class="mb-6 flex items-center space-x-6">
          <!-- 満足度 -->
          <h3 class="m-3 text-lg font-bold tracking-tight text-gray-900 sm:text-xl sm:leading-none">満足度</h3>
          <div class="flex">
            <% 1.upto(5) do |i| %>
              <i class="fas fa-star <%= 'text-yellow-500' if i <= @post.satisfaction_rating %> text-2xl"></i>
            <% end %>
          </div>
        </div>

        <!-- 施術日 -->
        <h3 class="m-3 max-w-lg text-lg font-bold tracking-tight text-gray-900 sm:text-xl sm:leading-none">
          施術日　<%= @post.procedure_date.strftime("%Y年%m月%d日") %>
        </h3>

        <!-- 投稿のカテゴリ -->
        <h3 class="m-3 max-w-lg text-lg font-bold tracking-tight text-gray-900 sm:text-xl sm:leading-none">
          カテゴリ
          <span class="m-3 inline-block px-4 py-2 font-bold text-sm text-white btn-custom rounded-2xl shadow-md">
            <%= @post.post_category.presence || 'カテゴリが選択されていません' %>
          </span>
        </h3>
      </div>

      <!-- 「内容」とブックマークボタンを同じ枠内に配置 -->
      <div class="bg-white border-l-4 shadow-md border-yellow-600 border-opacity-50 relative">
        <div class="flex p-5 border border-l-0 rounded-r">
          <div class="flex-grow">
            <h6 class="text-lg mb-2 font-semibold leading-5">内容</h6>
            <p class="text-base text-gray-900">
              <%= @post.body %>
            </p>
          </div>
          
          <%# ブックマーク %>
          <% if user_signed_in? %>
            <% if current_user.bookmarks.exists?(post_id: @post.id) %>
              <!-- ブックマーク解除ボタン（塗りつぶされたアイコン） -->
              <%= button_to post_bookmark_path(@post, current_user.bookmarks.find_by(post_id: @post.id)), method: :delete, class: 'text-yellow-500 ml-4' do %>
                <i class="fas fa-bookmark text-2xl"></i>
              <% end %>
            <% else %>
              <!-- ブックマーク追加ボタン（アウトラインアイコン） -->
              <%= button_to post_bookmarks_path(@post), method: :post, class: 'text-yellow-500 hover:text-yellow-400 ml-4' do %>
                <i class="far fa-bookmark text-2xl"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="mt-8">
        <% if user_signed_in? && current_user == @post.user %>
          <%= link_to '編集', edit_post_path(@post), class: 'ml-3 text-gray-500' %>
        <% end %>
        
        <%= link_to '投稿一覧へ', posts_path, class: 'ml-8 text-gray-500' %>
      </div>
    </div>

    <!-- 右側のコンテンツ -->
    <div class="flex flex-col">
      <div class="mb-8">
        <%= image_tag @post.procedure_image.url, class: "object-cover w-full h-56 rounded shadow-lg sm:h-96" %>
      </div>

      <div class="flex flex-col gap-4">
        <%= render 'comments/form', post: @post, comment: @comment %>
        <div class="flex flex-col gap-4">
          <% @post.comments.order(created_at: :desc).each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
