<!DOCTYPE html>
<html>
  <head>
    <title>HanBi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%# raty-js CDNの読み込み %>
    <!-- JQuery 3.7.1 -->
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <!-- ratyjs 3.1.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.min.js" integrity="sha512-Isj3SyFm+B8u/cErwzYj2iEgBorGyWqdFVb934Y+jajNg9kiYQQc9pbmiIgq/bDcar9ijmw4W+bd72UK/tzcsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <%# フッターの位置を固定 %>
  <body class="font-main flex flex-col min-h-screen">
    <%# ヘッダーのパーシャルファイルの読み込み%>
    <%= render partial: 'shared/header' %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%# フッターのパーシャルファイルの読み込み%>
    <%= render partial: 'shared/footer' %>      
  </body>
</html>
